
$main-font: 'Roboto', sans-serif;
$handwritten:'Amatic SC', cursive;
$main-accent: #74B4AE;
$secondary-accent: #FFDFA4;
/*$secondary-accent: #74B4AE;*/
$main-nav-color: #FFF9E3;
$white: white;
$black: #555;



body {
    font-family: $main-font;
    line-height: 1.4em;
    background-color: $main-nav-color;
    color: #444;
	  -webkit-font-smoothing: antialiased;
	 width: 100%;

	 
}

.overflow-wrap {
  overflow-x:hidden !important;
  width: 100vw;
} 

h1 { font-size: 2em; margin: .5em 0 }
h2 { font-size: 1.5em; margin: 0 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}


.p-94 {
  font-size: 1.4em;
  padding-bottom: 2em;
  font-weight: 100;
}

.wide {
  max-width: 90%;
  margin: 0 auto;

}

a {
  color: $main-accent;
  text-decoration: none;
	font-family: $main-font;
}

li {
	list-style: none;
}

.f-icon {
  font-family: hflr;

}

 .black {
  color: $black;
}
.white {
  color: $white;
}

.main-accent {
  color: $main-accent;
}

.width-container {
  max-width: 1250px;
  margin: 0 auto;
}

