
.hero-section {
 text-align: center;
 height: 100vh;
 background-color: #FFF9E3;
 position: relative;
}

.hero-content {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 1000px;
}

.hero-img {
   width: 700px;

}

.logo {
	font-family:'Lora', serif;
}

.hero-94 {
	font-size:17em;
}

.down-arrow {
	position: absolute;
	bottom: 23%;
	left: 50%;
	transform: translate(-50%);
	font-family: hflr;
	font-size: 3em;
	cursor: pointer;

}

.rotate-div-container {
position: relative;

}



.shiv {
	background-color: #FFF9E3;
	height: 180px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.rotate-div {
		transform: rotate(-07deg);
	  width: 115%;
	  background-color: black;
	  height: 300px;
	  margin-left: -30px;
	  overflow: hidden;
	  position: relative;
//	  margin-left: 100%;
}

.hero-content {


	p {
		padding: 0% 0 7%;
  	    font-weight: 300;
		margin: 0 auto;
		max-width: 20em;
		font-family: 'Roboto';
		text-transform: uppercase;
		letter-spacing: 1px;
//		line-height: 1.4em;
	}
}

.pic {
//	background: url('https://s3-us-west-2.amazonaws.com/1994/brim-collage.jpg') no-repeat center top fixed;
	position: relative;
	background-size: cover;
	height: 200%;
	width: 200%;
	margin-top: -400px;
	margin-left: 60px;
//	margin-right: 200%;
	transform: rotate(07deg);
	position: relative;
	z-index: 21;
//	overflow-x: hidden;
	img {
//		height: 100%;
	width: 1400px;
	height: auto;
	}
}

.mati-collage {
	position: absolute;
	right: -100%;
	top: -100px;
}

.hidden-content {
	position: absolute;
	font-size: 2em;
	color: white;
//	width: 100%;
	z-index: 20;
	left: 45%;
	top: 37%;
	transform: translate(-50%) rotate(07deg);
	line-height: 1.2;
}

@media screen and (max-width: 772px) {
	.hidden-content {
		left: 50%;
		top: 25%;
	}
	
	.content {
		p {
			padding-top: 14%;
		 }
    }
	.hero-94 {
		font-size: 12em;

	}
}

@media screen and (max-width: 500px) {

}