
.hero-section {
 text-align: center;
 height: 100vh;
 background-color: #FFF9E3;
 position: relative;
 margin-top: 40px;
z-index: -10;
}

.hero-content {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 1000px;
}

.hero-img {
   width: 700px;

}

.logo {
	font-family:'Lora', serif;
	color: $black;
}

.hero-94 {
	font-size:17em;
	margin: .5em;
}

.down-arrow {
	position: absolute;
	bottom: 23%;
	left: 50%;
	transform: translate(-50%);
	font-family: hflr;
	font-size: 3em;
	cursor: pointer;
	z-index: 10000;
	color: #666;

}

.rotate-div-container {
position: relative;

}



.shiv {
	background-color: #FFF9E3;
	height: 180px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.rotate-div {
		transform: rotate(-07deg);
	  width: 125%; 
	  background-color: black;
	  height: 340px;
	  margin-left: -30px;
	  overflow: hidden;
	  position: relative;
//	  margin-left: 100%;
}

.hero-content {


	p {
		padding: 0% 0 7%;
  	font-weight: 300;
		margin: 0 auto;
		max-width: 23em;
		font-family: 'Roboto';
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 1.4em;
		min-width: 16em;

	}
}

.pic {
//	background: url('https://s3-us-west-2.amazonaws.com/1994/brim-collage.jpg') no-repeat center top fixed;
	position: relative;
	background-size: cover;
	height: 200%;
	width: 200%;
	margin-top: -400px;
	margin-left: 60px;
//	margin-right: 200%;
	transform: rotate(07deg);
	position: relative;
	z-index: 21;
//	overflow-x: hidden;
	img {
//		height: 100%;
	width: 1400px;
	height: auto;
	}
}

.mati-collage {
	position: absolute;
	right: -100%;
	top: -100px;
}


.hidden-content {
	position: absolute;
	font-size: 2em;
	color: white;
//	width: 100%;
	z-index: 20;
	left: 42%;
	top: 37%;
	transform: translate(-50%) rotate(07deg);
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto';
	font-weight: 700;
}


/*CLIENT SECTION*/

//.rotate-main {
//	min-height: 600px;
//	margin-left: -50px;
//}

.overlay-white {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .1);
	z-index: 19;
	display: none;

}

.clients-container {
 	padding: 16em 1em 6em;
//	min-height: 00px;
  background-color: lightsalmon;
	margin-top: -100px;
//	min-height: 500px;
	text-align: center;
}



//.clients-ul {
//	position: relative;
//	bottom: 26%;
//	width: 90%;
//	margin: 0 auto;
//	display: flex;
//	flex-direction: row;
//	justify-content: space-around;
////	transform: rotate(07deg);
//	flex-wrap: wrap;
//	li {
//		margin: 1em 3em;
//	}
//}

.clients-grid {
//	max-width: 95%;
//	margin: 0 auto;
	display: block;
	background-color: lightsalmon;
//	transform: translateX(10%);
	max-width: 800px;
	margin: 0 auto;
}

.grid-item {
	position: relative;
  width: 150px;
  height:150px;
	padding: 1em 1em;
	margin: 0 .5em;
	
	
	img {
	 width: 125px;
	 height: auto;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	}
	
  	.runaway-logo {

		width: 220px;

		}
		}
 
.client-logo {
	height: 50px;
	width: auto;
}
//
//.williams-logo {
//	height: 30px;
//	margin-top: 15px;
//}
//

//
//.brightleaf-logo {
//height: 40px;
//}


/*NEWSLETTER SIGN UP*/

.newsletter-signup {
	max-width: 90%;
	margin: 0 auto;
	padding: 5em 0 7em;
	text-align: center;
	h3 {
		font-size: 4em;
		font-family: 'canterburyregular';
		margin-bottom: .5em;
		color: #555;
		line-height: .9;
	}
	
	p {
		margin-bottom: 1.5em;
		font-family: 'Lora';
	}
	
	input {
		height: 2.2em;
		display: inline-block;
		padding-left: .5em;
		font-size: 1em;
		border: #74B4AE 1px solid;
		border-radius: .2em;
		margin: 0 .3em 1.3em;	
		
	}
	
	.weekly-submit {
		box-sizing: border-box;
		display: inline-block;
		background-color: #444;
		color: #FFF9E3;
		border-radius: .2em;
		border: 1px solid #444;
		padding: 1em 3em;
		border: none;
		font-size: 1.2em;
		box-shadow: none;
		font-family: 'Lora';
		letter-spacing: 2px;
		font-weight: 700;
		
	}
	
	.weekly-submit:hover {
		background-color: #74B4AE;
		color: #FFF9E3;
	}
}



.sign-up-container {
	  width: 40em;
    margin: 0 auto;
    text-align: center;
	  position: fixed;
	 z-index: 10000000000000000000000;
	 bottom: 10%;
	 left: 50%;
	 transform: translateX(-50%);
	 background-color: white;
	overflow: hidden;
	display: none;
	input {
		display: inline-block;
		height: 1em;
		width: 8em;
		font-size: 1.2em;
		padding: .5em;
		margin: 0 .5em;
		border-radius: .3em;
		border: 1px solid gray;
	}
	
	form {
	  padding-top: 1em;
	}
	
	.submit-button {
		display: inline-block;
		width: 15em;
		padding: 1.2em;
		background-color: green;
		border: none;
		border-radius: .3em;
		margin-top: 1.5em;
		outline: none;
	}
	h3 {
		margin: 0em;
	}
	
	h4 {
	 margin-bottom: .4em;
	}
}

.sign-up-top {
	width: 100%;
	background-color: #444;
	color: white;
	padding: 1em 1em .25em;
}

.no-button, .submit-button {
	margin: 1.5em 1em;
	cursor: pointer;
}

.no-button {
}

.fake-button {
   display: inline-block;
		width: 12rem;
		padding: 1.2em;
		border: 1px solid black;
		border-radius: .3em;
		margin-top: 1.5em;
		font-size: .35em;
	  box-sizing: border-box;
}

@media screen and (max-width: 1229px) {
	.rotate-main {
		.hidden-content {
			font-weight: 700;
		}
	}
	
	.overlay-white {
		display: block;
	}
	
//	.clients-grid {
//		transform: translateX(6%);
//}
	
	
}

@media screen and (max-width: 1024px) {
	.grid-item {
	  height: 150px;
		width: 150px;
		
		img {
			width: 125px;
			height: auto;
		}
	}
}

@media screen and (max-width: 914px) {
	.clients-grid {
		transform: translateX(12%);
		}
	
}

@media screen and (max-width: 772px) {
	.hidden-content {
		left: 47%;
		top: 25%;
	}
	
	.hero-content {
		top: 20%;
	}
	.hero-content {
		p {
			/*padding-top: 14%;*/
		 }
    }
	.hero-94 {
		font-size: 12em;
	}
	
	.clients-grid {

	transform: translateX(8%);
}
	

}

@media screen and (max-width: 697px) {
	.newsletter-signup {
		text-align: center;
		input {
			display: block;
			margin: 0 auto 1.5em;
		}
	}
		.clients-grid {
			transform: translateX(6%);
	}
	
}

@media screen and (max-width: 500px) {
	.down-arrow {
		bottom: 40%;
	}
	
	 .clients-grid {
		transform: translateX(20%);
	}
}