.mobile-nav {
  background-color: #FFF9E3;
  z-index: 100000;
  left: 0;
  right: 0;
  height: 10vh;
  /*position: absolute;*/


}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 30px 90px 70px;
	align-items: center;
	background-color: $main-nav-color;

	
	a {
		color: #222222;
		font-weight: 300;
		font-size: 1.4em;
	}
	
	.nav-logo {
		width: 250px;
		font-weight: 700;
		margin-top: 20px;
		text-align: center;
		font-size: 6.4em;
		font-family: 'Lora', serif;
		color: $black;
	}

	.active {
  		color: $main-accent;
	}
}

.expand400 {
	padding-top: 200px !important;

}

.logo-mobile {
	font-size: 4em;
	z-index: 1000000;
}

.footer-top, footer {
	background-color: $main-accent;
	
}
.footer-top {
  transform: rotate(-7deg);
  width: 115%;
  color: white;
  text-align: center;
  min-height: 4em;
  padding: 5em 0;
  margin-left: -15px;
  margin-bottom: -115px;
  position: relative;
  z-index: 100;
	
	h2 {
			  margin-right: 17%;
		    transform: rotate(7deg);
		    margin-left: 0;
				font-weight: 300;
	}
}


footer {
	position: relative;
	color: white;
	padding-top: 50px;
	z-index: 101;
	min-height: 185px;

	a {
	  color: white;
		margin-top: 20px;
		font-weight: 300;
		text-transform: uppercase;
		font-size: .8em;
	}
}

.shiv-right {
	position: absolute;
	top: -40px;
	right: 0;
	width: 200px;
	bottom: 40px;
	background-color: $main-accent;
	z-index: 60;
}

.footer-flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-weight: 400;
	font-size: 1.4em;
	flex-wrap: wrap;
	color: #222222;
	position: relative;
}

.follow-wrap {
	text-align: center;
	min-width: 200px;
	max-width: 200px;


	
	a {
		text-transform: lowercase;

	}
}

.footer-location, .footer-contact {
	padding-bottom: .25em;
}

.social-footer {
	display: flex;
	justify-content: space-between;
	
	
	a {
		font-family: hflr;
		color: white;
		font-size: 2em;
	}
}

.logo-mobile {
	display: none;
}

.responsive-menu {
	/*display:none;*/

}

/////////// 3d logo //////////

#logo-flip-container {
//    width: 62px;
//    height: 91px;
//    position: relative;
     perspective: 400px;
}
.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.flip-card figure {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card img:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transition-duration: 5s;
    -webkit-transition-duration:3s;
}


@media screen and (max-width: 772px) {
.menu-btn {
	margin-top:-4px;
	height: 40px;
	padding: 20px 7px;
	position: absolute;
	top: 0;
	left: 0;
	z-index:200000000000;
}
.menu-btn div {
	position: absolute;
	left: 90%;
	top: 10px;
	padding-right: 8px;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
 
.menu-btn span {
	display: block;
	width: 26px;
	height: 6px;
	margin: 4px 4px;
	background: $main-accent;
	z-index: 99;

}
 
.responsive-menu{
	display: none;
	background-color: $main-nav-color;
	left: 50%;
	/*transform: translate(-50%);*/
}
 
.expand {
	display: block !important; 
}

.logo-mobile {
	display: block;
	height: 50px;
	text-align: center;
	margin-top: 40px;
	/*z-index: 10000;*/
	}
	
	.nav-logo {
		display: none;
	}
	
	.footer-flex-container {
		flex-direction: column;
		text-align: center;
		
		li {
			padding-bottom: 1.5em;
		}
	}
	
	.hero-94 {
		display:none;

	}

	
	
	.follow-wrap {
		margin: 0 auto;
	}
	
	.shiv {
		background-color: $main-nav-color;
	}
	


	
	.navbar {
		flex-direction: column;
		max-width: 100%;
		padding: 20px 20px;



	}
	
	.navbar li {
		padding-top: .5em;
	}	
}