.mobile-nav {
  background-color: #FFF9E3;
  z-index: 100000;
  left: 0;
  right: 0;
  height: 8vh;
	position:fixed;
		bottom:0;
		z-index:999999;
  /*position: absolute;*/


}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 30px 90px 40px;
	align-items: center;
	position: relative;
	z-index: 0;

	
	a {
		color: $black;
		font-weight: 400;
		font-size: 1.4em;
	}
	
	.nav-logo {
		width: 250px;
		font-weight: 700;
		margin-top: 20px;
		text-align: center;
		font-size: 6.4em;
		font-family: 'Lora', serif;
		color: $black;
	}

	.active {
  		color: $main-accent;
	}
}

.expand400 {
	padding-top: 200px !important;

}

.logo-mobile {
	font-size: 4em;
	z-index: 1000000;
}

.footer-top, footer {
	background-color: $main-accent;
	
}
.footer-top {
  transform: rotate(-7deg);
  width: 115%;
  color: white;
  text-align: center;
  min-height: 6em;
  padding: 5em 0;
  margin-left: -15px;
  margin-bottom: -100px;
  position: relative;
  z-index: 100;
	
	h2 {
			  margin-right: 17%;
		    transform: rotate(7deg);
		    margin-left: 0;
				font-weight: 300;
	}
}


footer {
	position: relative;
	color: white;
	padding-top: 50px;
	z-index: 101;
	min-height: 185px;

	a {
	  color: white;
		margin-top: 20px;
		font-weight: 300;
		text-transform: uppercase;
		font-size: .8em;
	}
}

.shiv-right {
	position: absolute;
	top: -40px;
	right: 0;
	width: 200px;
	bottom: 40px;
	background-color: $main-accent;
	z-index: 60;
}

.footer-flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-weight: 400;
	font-size: 1.4em;
	flex-wrap: wrap;
	color: #222222;
	position: relative;
}

.follow-wrap {
	text-align: center;
	min-width: 200px;
	max-width: 200px;


	
	a {
		text-transform: lowercase;

	}
}

.footer-location, .footer-contact {
	padding-bottom: .25em;
}

.social-footer {
	display: flex;
	justify-content: center;

	
	
	a {
		font-family: hflr;
		color: white;
		font-size: 2em;
		margin: 20px 6px;

	}
}

.logo-mobile {
	display: none;
}

.responsive-menu {

	/*display:none;*/

}

/////////// 3d logo //////////

#logo-flip-container {
//    width: 62px;
//    height: 91px;
//    position: relative;
     perspective: 400px;
}
.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.flip-card figure {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card img:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transition-duration: 5s;
    -webkit-transition-duration:3s;
}





.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}


.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.mobile-navbar {
	display:none;
}



.mobile-nav {
	display: none;
}






@media screen and (max-width: 772px) {
	
.mobile-navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 100000000000000;
	
	li a{
		display: inline-block;
		margin: 0 auto;
		color: #FFF9E3;
		padding: 1em 0;
		font-weight: 700;
	}
	
	li {transition: background-color 1.5s ease;}
	
	li:hover {
		background-color: #444;
	}
	
	li:first-child {
		border-left: none;
	}
	
	li:last-child {
		border-right: none;
	}
	li {
		display: inline-block;
			box-sizing: border-box;
//			border: 1px solid black;
		  border-top: none;
		  width: 25%;
		  text-align: center;
		  background-color: #30A293;
		  border-left:1px solid #FFF9E3;
			border-right:1px solid #FFF9E3;
	 }
  }
	
	
	
.mobile-nav {
	display: block;
}
	
.responsive-menu{
	background-color: $main-nav-color;
	/*left: 50%;*/
	/*transform: translate(-50%);*/
}
 
//.expand {
//	display: block !important; 
//}

.logo-mobile {
	display: block;
	height: 50px;
	text-align: center;
	margin-top: 1em;
	/*z-index: 10000;*/
	}
	
	.nav-logo {
		display: none;
	}
	
	.footer-flex-container {
		flex-direction: column;
		text-align: center;
		padding-bottom: 55px;
		
		li {
			padding-bottom: 1.5em;
		}
	}
	
	.hero-94 {
		display:none;

	}

	
	
	.follow-wrap {
		margin: 0 auto;
	}
	
	.shiv {
		background-color: $main-nav-color;
	}
	


	
	.navbar {
display: none;

		a {
			position: relative;
			color: $main-nav-color;
			cursor: pointer;
			z-index: 1000000000;
		}

	}
	
	.navbar li {
		padding-top: .5em;
	}	
}