.nl-header {
	text-align: center;
	font-size: 5em;
	font-family: 'UnifrakturCook', cursive;
}

.nl-header-2 {
	display: flex;
	justify-content: space-between;
  
}

.header-small {
	font-size: .4em;
	padding: 0 .5em;
}

.header-2-container {
	max-width: 85%;
	margin: 0 auto;
}

