.mati-shiv {
	background-color: #222222;
	height: 200px;
	margin-top: -120px;
}

.betti-shiv {
  background-color: #3072A8;
	position: absolute;
	height: 120px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	transform: rotate(07deg);
}
.work-container {
	background-color: #3072A8;
}

.work {
//	width: 100%;
	margin: 0 auto;
}

.slides {
//	padding-top: 5em;
	li {
//	min-height: 93vh;
	padding-bottom: 2em;
	}
}

.img-wrap {
	text-align: center;
//	max-width: 50%;
	margin: 0 auto;
	height: 130px;
}

.work-image {
	max-width: 250px;
	max-height: 85px;
	height: auto;
	margin: 3em auto 1.5em;
}

.about-content {
	padding-top: 3em;
	background: url('https://s3-us-west-2.amazonaws.com/hifilorau/big-wheel.jpg') center center fixed;
	background-size: cover;
	min-height: 100vh;
}

.work-p {
	display: inline-block;
	max-width: 600px;
	vertical-align: top;
	margin: 0;
	font-weight: 300;
	padding-top: 2.25em;
    flex-grow: 1;
//	padding-right: 2.5em;
    font-size: 1.2em;
	
}

.screen-shots {
	display: inline-block;
	padding-top: 1em;
	text-align: center;
	flex-grow: 1;
}

.work-laptop {
	max-width: 500px;
}

.work-mati {
	background-color: #222222;
	
	p {
		color: whitesmoke;
	}
}

.work-betti {
	background-color: #3072A8;
	p {
	color: whitesmoke;
	}
}

.work-au {
	background-color: white;
}

.work-brim {
	background-color: #DBE3F0;

}

.flex-wrap {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 90%;
	margin: 2em auto 0;
}

.hire-me {
	padding: 3em 0 2em;
	font-size: 1.5em;
	text-align: center;
	
}

.hire-me-link {
	min-width: 600px;
//	border: 2px solid $orange;
	padding: .5em 2em;
	border-radius: .3em;
	background-color: $main-nav-color;
	color: $black;
	text-transform: uppercase;
	
}

.hire-me-link:hover {
	color: $main-nav-color;
	background-color: $main-accent;
}

.contact-list-ul {
	text-align: center;
	padding-top: 3em;
	li {
	padding: 20px;
	font-family: hflr;
	display: inline-block;
	font-size: 3em;
	}
	
	li a:hover {
		color: #444444;
	}
}

.contact-content {
	padding-top: 6em;
	p {
		padding: 2em;
	}
}

.work-shiv {
	height: 70px;
}

@media screen and (max-width: 500px) {

.slides {
//	padding-top: 5em;
	li {
//	width: auto !important;
	overflow: hidden;
	padding-bottom: 4em;
	}
}
	
	.work-laptop {
		max-width: 300px;
	}
	.contact-content {
	padding-top: 2em;
}
	

}